@media (max-width: 800px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-news-info-container h3 {
        padding-top: 10px;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container {
        display: block;
    }
    .contact-main-container {
        display: grid;
        justify-content: center;
    }
    .contact-main-container div {
        width: 90%;
        margin: 0 auto;
    }
    .contact-main-container .contact-left, .contact-right {
        margin-top: 25px;
    }
}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
}